$banner-blue: #005581;
$banner-blue-dark: #004165;
$banner-blue-light: #2971a7;

/* fixes borders on narrower views */
@media screen and (max-width:768px) {
  #masthead_controls .navbar li {
    border: 0;
  }
}

/* changes nav to prevent stacking in handheld */
  #masthead_controls .navbar li {
    display: inline-block;
  }

/* adjusts padding of right column in masthead */
  #masthead .col-sm-3 {padding-left:0;}

/* adjust overflow on logged in user box now that we've narrowed the available space */
#user_utility_links #dashboard_link {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* GW colors */
#masthead {background: $banner-blue-dark;}
#masthead_controls {border: 0; background: $banner-blue-light;}
#masthead_controls .navbar li {border: 0; font-size: 1.3em;}
#masthead_controls .navbar li:first-child {border:0;}
#masthead_controls .navbar-default .navbar-nav > .active > a {background: $banner-blue-light;}
#masthead_controls .navbar-default .navbar-nav > .active > a:hover {background: $banner-blue-dark;}
#masthead_controls .navbar {background: $banner-blue-light;}
#masthead_controls .navbar a:link {background: $banner-blue-light; 
  a:visited {background: $banner-blue-light;}
  a:hover {background: $banner-blue-dark;}
}
#masthead_controls .navbar a:visited {background: $banner-blue-light;}
#masthead_controls .navbar a:hover {background: $banner-blue-dark;}
#footer {background: $banner-blue-dark;}

/* Buttons */
.add, .btn-primary {
  background-color: $banner-blue-light;
  border-color: $banner-blue-light;
}
#masthead_controls #search-submit-header {
  /* reiterating Sufia default to override gw custom button styling above */
  background-color: #333;
  border-top: 1px solid #CECDCD;
  border-bottom: 1px solid #CECDCD;
}
.add:hover, .add:focus, .btn-primary:hover, .btn-primary:focus {
  color: $banner-blue-light;
  background-color: #fff;
}
/* Hide slideshow and masonry buttons */
.btn.view-type-slideshow {display:none !important;}
.btn.view-type-masonry {display:none !important;}
.btn.view-type-gallery {border-top-right-radius:4px !important; border-bottom-right-radius:4px !important;}

/* Fixes issue with iOS text exceeding button on some screens (iPad portrait) */
#home_header #contribute_link {width:100%; overflow:hidden; text-overflow:ellipsis;}

/* custom splash image */
#home_header {
  background-image: image-url('gw-scholarspace-1.jpg');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 8px solid #E1E1E1;
  border-bottom: 8px solid #E1E1E1;
}

/* logo */
#logo img {
  width: 200px;
  margin: -20px 1em 0;
}

.masthead-logo-title {
  padding-top:.8em;
}

#masthead .institution_name {
  white-space: nowrap;
}

/* Suppressing header login box */
#masthead .btn-group.login_button {display:none;}

#content-wrapper #content {/*padding-top:0;*/} 

@media screen and (max-width:1170px) {
  #user_utility_links #dashboard_link {/*max-width: 50%;*/}
  #masthead .institution_name {
  }
  #logo img {/*margin-top: .5em;*/}
  #masthead .login_button {margin-right:.5em;}
}
@media screen and (max-width:1024px) {
  #masthead {min-height: 6.5em;}
  #masthead .institution_name {font-size: 3em;}
  #logo img {width: 140px; margin-top: -15px;}
  .masthead-logo-title {padding-top:.75em;}
}
@media screen and (max-width:960px) {
  #user_utility_links #dashboard_link {max-width: 60%;}
}
@media screen and (max-width:766px) {
  #logo img {display:none;}
  #masthead_controls .navbar {margin-bottom: -6px;}
}
@media screen and (max-width:640px) {
  #masthead .institution_name {font-size:2em; margin-left:0;}
  .masthead-logo-title {margin-top: .75em;}
  #masthead .login_button {margin-right:.1em;}
}

/* Profile page */
.profile i {padding-right:.4em;}
.profile .col-xs-3 {overflow: hidden;
  h3 {font-size:18px; font-weight:400;}
}

/* Upload page */
#computer_tab i {padding-right:.4em;}

/* tabbed content */
.tab-content #contributions {padding-top:.5em;}

/* Footer */
#footer {font-size:.8em;}
#footer a {color:#fff;}
#footer a:hover {text-decoration:underline;}
#footer p.background-attribution {margin-top:0; line-height:1em;}
#gw-footer-info {margin-top:1em; font-size:1.1em;
  p {margin:0;}
}
#gw-footer-info #footer-utility {text-align:right;}
@media screen and (max-width:767px) {
  #gw-footer-info #footer-utility {text-align:left;}
}
