  <div id="gw-footer-info" class="row">

    <div class="col-xs-12 col-sm-8" id="footer-contact">

      <p><span class="address"><a href="http://library.gwu.edu" target="_blank" title="GW Libraries Website">GW Libraries</a> &#8226; 2130 H Street NW &#8226; Washington DC 20052</span> &#8226; <span class="tel">202.994.6558</span> &#8226; <a href="mailto:gelman@gwu.edu" target="_blank" title="">gelman@gwu.edu</a></p>

    </div>

    <div class="col-xs-12 col-sm-4" id="footer-utility">
      <p><span><a href="https://library.gwu.edu/accessibility">Accessibility</a></span>
      <span> &#8226; </span>
      <span><a href="https://library.gwu.edu/contact">Contact Us</a></span>
      <span> &#8226; </span>
      <span><a href="/users/sign_in">Staff Login</a></span></p>
    </div>

  </div>
